.title {
    width: 340px;
    height: 85px;
    background: #81d5fa;
    padding: 5px;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 400px 500px 110px;
    box-shadow: -10px 10px 20px black;
    float: left;
    text-decoration: none;
}
.title h1, .title h1:visited, .title h1:hover, .title h1:link {
    color: black;
}
.confirmed {
    color: red;
    left: 470px;
    top: 20px;
    font-size: 30px;
    position: absolute;
}
.user, .basket {
    width: 150px;
    background: #81d5fa;
    padding: 5px 0px 5px 20px;
    position: fixed;
    box-shadow: -10px 10px 20px;
}
.user {
    right: 320px;
    z-index: 1010;
}
.basket {
    right: 150px;
    z-index: 1005;
}
.user a, .user details {
    float: left;
}
.user details {
    width: 100%;
}
.user details a {
    background: #81d5fa;
    width: 160%;
    position: absolute;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 28px;
    right: 0;
    padding: 5px 0px 5px 20px;
    box-shadow: -10px 10px 20px;
}
.user details .my {
    top: 90px;
    border-radius: 20px 0px 0px 0px;
}
.user details .logout {
    top: 140px;
    border-radius: 0px 0px 20px 20px;
}
.penguin {
    position: absolute;
    left: 20px;
}
.search {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 97%;
}
.search input[type=text] {
    border-radius: 20px;
    text-align: left;
    width: 93%;
    padding: 0 10px;;
}
.info {
    position: absolute;
    left: 20px;
    top: 120px;
    font-size: 30px;
    width: 97%;
}
.info h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.buy a {
    position: absolute;
    top: 200px;
    right: 5px;
}
.submit {
    border-radius: 20px;
    background: #81d5fa;
    width: 6%
}
.product {
    background: #ffffff;
    position: absolute;
    top: 120px;
    left: 20px;
    width: 97%;
    border-radius: 20px;
    padding: 20px;
}
.product p{
    font-size: 30px;
}
.product b {
    font-size: 50px;
}
.product img {
    height: 700px;
    max-width: 800px;
    border-radius: 20px;
}
.product img {
    float: left;
}
.product-btn, .product-btn:visited, .product-btn:hover, .product-btn:link {
    border-radius: 20px;
    background: #81d5fa;
    font-size: 40px;
}
.basket-btn, .basket-btn:visited, .basket-btn:hover, .basket-btn:link {
    background: #FA8072;
    font-size: 20px;
}
.container-shop a, .container-shop a:visited, .container-shop a:hover, .container-shop a:link {
    margin: 15px;
}
.my_form {
    top: 120px;
    left: 20px;
    position: absolute;
    width: 97%
}
.my_form h1 {
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: -1px 1px 10px;
}
.my_form a, .my_form a:visited, .my_form a:hover, .my_form a:link {
    background: #ffa500;
    color: black;
    position: absolute;
    left: 20px;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    align: center;
}
.my_form .buy {
    font-size: 24px;
    font-weight: bold;
}
.comment {
    top: 920px;
    background: #ffffff;
}
.comment-text {
    top: 1060px;
}
.comment-btn, .comment-btn:visited, .comment-btn:hover, .comment-btn:link {
    top: 1000px;
    background: #ffa500;
    color: black;
    position: absolute;
    left: 20px;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
}
.comment, .comment-text {
    position: absolute;
    left: 20px;
    width: 97%;
    border-radius: 20px;
}
.wrap-comment {
    margin: 0 -15px;
}
.block-comment {
    width: 23%;
    float: left;
    margin: 0 15px;
    background: #ffffff;
    border-radius: 20px;
    text-decoration: none;
}
.comment-text p{
    font-size: 30px;
    padding: 0 20px;
}
.comment-text img {
    height: 300px;
    width: 97%;
    border-radius: 20px;
    float: left;
}
.filter-btn, .filter-btn:visited, .filter-btn:hover, .filter-btn:link {
    border-radius: 20px;
    background: #ffffff;
    align: left;
    margin: 5px;
}
.categories{
    position: absolute;
    left: 20px;
    top: 180px;
    display: flex;
    margin: 0 -25px;
    width: 100%;
}
.btn, .btn:visited, .btn:hover, .btn:link {
    background: #fffde7;
    width: 30%;
    font-size: 40px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: -1px 1px 10px;
    color: black;
    flex: 1 1 auto;
    margin: 0 25px;
}
.ad {
    width: 100%;
    height: 52%;
    position: absolute;
    left: 20px;
    top: 320px;
    display: flex;
    margin: 0 -25px;
}
.btn-img, .btn-img:visited, .btn-img:hover, .btn-img:link{
    background: #fffde7;
    width: 25%;
    font-size: 24px;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: -1px 1px 10px;
    color: black;
    flex: 1 1 auto;
    margin: 0 25px;
}
.ad img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
}
.filter {
    background: #81d5fa;
    width: 100%;
    border-radius: 20px;
    box-shadow: -1px 1px 10px;
    position: absolute;
    top: 60px;
    display: flex;
    z-index: 1000;
}
.filter summary {
    padding: 5px 10px;
}
.filter label + .filter p {
    top: 10px;
}
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
	font-size: 18px;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #9FD468;
}
.checkbox:checked + label:after {
	left: 26px;
}
.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio + label {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.radio + label:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}
.register {
    position: absolute;
    left: 20px;
    top: 120px;
    width: 97%
}
.msg {
    position: absolute;
    font-size: 24px;
    color: red;
    font-weight: bold;
    left: 20px;
}
.btn.btn-primary:hover {
    max-height: 47px;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
}
.update, .update:visited, .update:hover, .update:link {
    background: #FFA500;
    font-size: 20px;
}
.container-shop form {
    float: left;
    margin-left: 5px;
}
.container, .container-basket, .container-shops, .container-shop {
    position: absolute;
    left: 20px;
    min-width: 97%;
    border-radius: 20px;
}
.container {
    top: 320px;
}
.container-basket {
    top: 320px;
}
.container-shops {
    top: 800px;
}
.container-shop {
    top: 120px;
    position: absolute;
}
.wrap {
    margin: 0 -15px;
}
.block, .block-basket {
    width: 23%;
    float: left;
    margin: 15px;
    height: 600px;
    background: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
.block-shops {
    width: 23%;
    float: left;
    height: 130px;
    background: #ffffff;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 10px;
}
.block-shops form {
    align: right;
    position: relative;
    left: 70%;
}
.block p, .block-basket p, .block-shops a, .block-shops a:hover{
    padding: 0 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.block img, .block-basket img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.block-basket img, .block img {
    height: 60%;
}
.message, .message-basket {
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
    font-size: 24px;
    left: 20px;
    width: 97%;
    box-shadow: -1px 1px 10px;
    align: center;
}
.message {
    top: 260px;
}
.message-basket {
    top: 120px;
}
.about {
    width: 84vw;
    background: #fffde7;
    margin-left: 150px;
    height: auto;
}
.about a:visited, .about a:hover, .about a:link, .about h3 {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.about ul {
    list-style: none;
    display: flex;
}
.about ul li {
    float: left;
    flex-basis: auto;
    flex-grow: 1;
}
.main {
    height: 95%;
    position: relative;
    overflow-y: auto;
    background: #fffde7;
    margin: 0px 150px;
}
.main::-webkit-scrollbar {
    width: 10px;
}
.main::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}
.main::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5, rgba(255, 255, 255, .25)),
                    color-stop(.5, transparent), to(transparent));
}
body, html {
    height: 100vh;
    margin: 0;
    width: 100vw;
}
.side {
    height: 100%;
    position: relative;
    background: #81d5fa;
    background-image: url("../img/background.png");
}