{% extends "base.html" %}

{% block content %}
    <form action="" method="post" class="register" enctype="multipart/form-data">
        <h1>{{title}}</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class='form-control', value=product.title) }}<br>
            {% for error in form.title.errors %}
                <p role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(class='form-control', value=category.filter(Category.id == product.category)) }}<br>
            {% for error in form.category.errors %}
                <p role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.color.label }}<br>
            {{ form.color(class='form-control', value=colors.filter(Colors.id == product.color)) }}<br>
            {% for error in form.color.errors %}
                <p role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class='form-control', value=product.price) }}<br>
            {% for error in form.price.errors %}
                <p role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class='form-control', value=product.about) }}<br>
            {% for error in form.about.errors %}
                <p role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <input type="file" name="image" value="Выберите фотографию товара">
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p class="msg">{{message}}</p>
    </form>
{% endblock %}