{% extends "base.html" %}

{% block content %}
    <div class="info">
        <h1>Помощь</h1>
        <p>Честно сказать, вряд ли Вам уже что-то поможет, но я все же постараюсь.</p>
        <p>На главной странице есть поле для поиска по всем существующим товарам. Также есть переход на страницы категорий.</p>
        <p>В личном кабинете (для пользователей старше 18 лет с подтвержденной почтой) можно создать свой магазин.</p>
        <p>Покупка товаров не доступна, можете просто по приколу добавить их в корзину.</p>
        <p>А вообще советую обратиться с Вашей проблемой к психотерапевту.</p>
    </div>
{% endblock %}