{% extends "base.html" %}

{% block content %}
    <div class="product">
        <img src="{{product.image}}">
        <p><b>{{product.title.capitalize()}}</b>
        <br>Цена: {{product.price}} р
        <br>{{product.about}}
        <br><i>Категория: {{categories.filter(Category.id == product.category).first().name}}
        <br>Цвет: {{colors.filter(Colors.id == product.color).first().name}}
        <br>Бренд: {{shops.filter(Shops.id == product.shop).first().title}}
        <br>Рейтинг: {{product.rating}}
        <br>Количество покупок: {{product.count}}</i></p>
        <form action="" method="post">
            <input type="hidden" name="hidden" value="{{ product.id }}">
            <input type="submit" value="В корзину" class="product-btn"/>
        </form>
    </div>
    <div class="comment"><h1 align="center">Комментарии</h1></div>
    {% if current_user.is_authenticated and not flag%}
        <a href="/comment/{{ product.id }}" class="comment-btn">
            Написать комментарий
        </a>
    {% endif %}
    <div class="comment-text">
        {% set a = 0 %}
        <div class="wrap-comment">
            {% for i in comments %}
                {% if a == 4 %}
                    </div>
                    <div class="wrap-comment">
                    {% set a = 0 %}
                {% endif %}
                <div class="block-comment">
                    {% set author = users.filter(Users.id == i.author).first() %}
                    <p align="right"><br>{{ author.name }} {{ author.surname }}</p>
                    {% if i.image %}
                        <div>
                            <img src="{{i.image}}">
                        </div>
                    {% endif %}
                    <p><b>Оценка: {{ i.rating }}</b>
                        <br><i>{{ i.text }}</i></p>
                </div>
                {% set a = a + 1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}