{% extends "base.html" %}

{% block content %}
    <div class="container-shop">
        <h1 align="center">Магазин {{ shop.title }}</h1>
        <a href="/add_product/{{shop.id}}" class="btn btn-warning">Добавить товар</a>
        {% set count = 0 %}
        <div class="wrap">
            {% for i in shop.products %}
                {% if count == 4 %}
                    </div>
                    <div class="wrap">
                    {% set count = 0 %}
                {% endif %}
                <a class="block-basket" href="/product/{{ i.id }}">
                    <form action="" method="post">
                        <input type="hidden" name="hidden" value="{{ i.id }}">
                        <input type="submit" value="Удалить" class="basket-btn"/>
                    </form>
                    <form action="" method="post">
                        <input type="hidden" name="hidden" value="update {{ i.id }}">
                        <input type="submit" value="Редактировать" class="update"/>
                    </form>
                    <img src="{{ i.image.split(', ')[0] }}">
                    <p><b>{{i.title.capitalize()}}</b>
                    <br>Категория: {{category.filter(Category.id == i.category).first().name}}
                    <br>Цвет: {{colors.filter(Colors.id == i.color).first().name}}
                    <br>Бренд: {{shop.title}}
                    <br>Рейтинг: {{i.rating}}</p></a>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}